@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-primary-dark overflow-x-hidden font-sans antialiased;
  }
}

/* Animazioni personalizzate */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.noise-overlay {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.03;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAElBMVEUAAAD8/vz08vT09PT8/Pz///8YzgzxAAAABnRSTlMAICDw8MDwrKxsAAAAQklEQVQ4y2NgQAX8DIxg6sCBg4GBkYGBgRkZCLAyMDBIQAUZGRkYGBgZ0AEjxGhGBkYGZEUg4IAKYxg9MHpg9AAAWdYx3UzU0tEAAAAASUVORK5CYII=');
  mix-blend-mode: soft-light;
}
